<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinansistoBackupConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FinansistoBackupConverter.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCsvExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBackupFolderForCsvExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomCsvFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseBackupFileNameForCsvExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GoogleDriveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="OpenCsvExportFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </FinansistoBackupConverter.Properties.Settings>
    </userSettings>
</configuration>